<% was_validated = trip.errors.any? %>

<%= form_with(model: trip, local: true, novalidate: true, class: "mb-3") do |f| %>
  <%= f.hidden_field :rider_id, value: current_rider.id %>
  <div class="form-group">
    <% dropoff_location_class = "form-control" %>
    <% dropoff_location_was_invalid = trip.errors.include?(:dropoff_location) %>

    <% if was_validated %>
      <% if dropoff_location_was_invalid %>
        <% dropoff_location_class << " is-invalid" %>
      <% else %>
        <% dropoff_location_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :dropoff_location_id %>
    <%= f.collection_select :dropoff_location_id, Location.all, :id, :to_s, {}, class: "form-control" %>
    <% if dropoff_location_was_invalid %>
      <% trip.errors.full_messages_for(:dropoff_location).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% pickup_location_class = "form-control" %>
    <% pickup_location_was_invalid = trip.errors.include?(:pickup_location) %>

    <% if was_validated %>
      <% if pickup_location_was_invalid %>
        <% pickup_location_class << " is-invalid" %>
      <% else %>
        <% pickup_location_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :pickup_location_id %>
    <%= f.collection_select :pickup_location_id, Location.all, :id, :to_s, {}, class: "form-control" %>
    <% if pickup_location_was_invalid %>
      <% trip.errors.full_messages_for(:pickup_location).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% desired_departure_time_class = "form-control" %>
    <% desired_departure_time_was_invalid = trip.errors.include?(:desired_departure_time) %>

    <% if was_validated %>
      <% if desired_departure_time_was_invalid %>
        <% desired_departure_time_class << " is-invalid" %>
      <% else %>
        <% desired_departure_time_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :desired_departure_time %>
    <%= f.datetime_select :desired_departure_time, class: desired_departure_time_class, placeholder: "Enter desired departure time" %>
    <% if desired_departure_time_was_invalid %>
      <% trip.errors.full_messages_for(:desired_departure_time).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% status_class = "form-control" %>
    <% status_was_invalid = trip.errors.include?(:status) %>

    <% if was_validated %>
      <% if status_was_invalid %>
        <% status_class << " is-invalid" %>
      <% else %>
        <% status_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :status %>
    <%= f.select :status, options_for_select(Trip.statuses.keys), {}, class: "form-control" %>
    <% if status_was_invalid %>
      <% trip.errors.full_messages_for(:status).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% trip_detail_class = "form-control" %>
    <% trip_detail_was_invalid = trip.errors.include?(:trip_detail) %>

    <% if was_validated %>
      <% if trip_detail_was_invalid %>
        <% trip_detail_class << " is-invalid" %>
      <% else %>
        <% trip_detail_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :trip_details %>
    <%= f.text_field :trip_details, class: trip_detail_class, placeholder: "Enter trip detail" %>
    <% if trip_detail_was_invalid %>
      <% trip.errors.full_messages_for(:trip_detail).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
