<%= form_with(model: @trip, local: true) do |f| %>

  <%= f.hidden_field :rider_id, value: current_rider.id %>

  <%= f.hidden_field :dropoff_location_id, value: @location.id %>

  <div class="form-group">
    <%= f.label :pickup_location_id %>

    <%= f.text_field :pickup_location_id, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :desired_departure_time %>
    <%= f.datetime_select :desired_departure_time, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :status %>

    <%= f.select :status, options_for_select(Trip.statuses.keys), {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :trip_details %>

    <%= f.text_field :trip_details, class: "form-control" %>
  </div>

  <%= f.submit "Create trip", class: "btn btn-block btn-outline-secondary" %>
<% end %>
